# Analyzing the social network of actors

This script creates the network of actors to upload into [Kumu](https://kumu.io/sanand0/actor-pairs).

In [1]:
# Download the data

# curl -C - -O https://datasets.imdbws.com/name.basics.tsv.gz
# curl -C - -O https://datasets.imdbws.com/title.principals.tsv.gz
# curl -C - -O https://datasets.imdbws.com/title.basics.tsv.gz
# curl -C - -O https://datasets.imdbws.com/title.akas.tsv.gz

In [1]:
import gc
import pandas as pd
from scipy.sparse import csr_matrix

In [2]:
# Read relevant data from the titles
title = pd.read_csv('title.basics.tsv.gz', sep='\t', low_memory=False).set_index('tconst')[['titleType', 'primaryTitle', 'startYear']]
title.head()

          titleType            primaryTitle startYear
tconst
tt0000001     short              Carmencita      1894
tt0000002     short  Le clown et ses chiens      1892
tt0000003     short          Pauvre Pierrot      1892
tt0000004     short             Un bon bock      1892
tt0000005     short        Blacksmith Scene      1893

In [3]:
# Read relevant data from the cast of the films
principals = pd.read_csv('title.principals.tsv.gz', sep='\t')[['tconst', 'nconst', 'category']]
principals.head()

      tconst     nconst         category
0  tt0000001  nm1588970             self
1  tt0000001  nm0005690         director
2  tt0000001  nm0374658  cinematographer
3  tt0000002  nm0721526         director
4  tt0000002  nm1335271         composer

In [4]:
# Only consider actors, not directors, composers, etc. Shrinks data to about 40%
actors = principals
actors = actors[actors.category.isin({'actor', 'actress'})]

In [5]:
# Only consider movies, not TV series, etc. Shrinks data to ~5%
movies = title[title['titleType'] == 'movie']
actors = actors[actors['tconst'].isin(movies.index)]

In [6]:
# Delete the original data to save memory
del principals

In [7]:
# Optionally, restrict data to just a single region (e.g. IN, US, etc)
# This loads the region for each title
region = pd.read_csv('title.akas.tsv.gz', sep='\t').set_index('titleId')['region']
region.value_counts().head(20)

D:\anaconda\3.7\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

FR     2355333
DE     2316863
JP     2305757
ES     2305604
IT     2294063
IN     2258834
PT     2257105
US      865708
\N      456434
GB      185940
XWW     114957
CA       94768
BR       73494
GR       69467
FI       61782
HU       55978
AU       53826
RU       52953
PL       47398
SE       45541
Name: region, dtype: int64

In [8]:
# Read name data. This maps the person ID (nconst) to their name and year of birth
name = pd.read_csv('name.basics.tsv.gz', sep='\t').set_index('nconst')[['primaryName', 'birthYear']]

def get_pairs(lang=None, min_acted=25, min_pairs=4):
    '''
    Returns a DataFrame of actor pairs where:
    - Each actor has acted in at least min_acted films
    - The two actors have acted together in at least min_pairs films
    - And (optionally), belong to a region `lang` (IN, UN, etc)
    '''
    graph = actors
    if lang is not None:
        graph = graph[graph['tconst'].isin(region[region == lang].index)]
    name_freq = graph['nconst'].value_counts()
    top_names = name_freq[name_freq > min_acted]
    top_actors = graph[graph['nconst'].isin(top_names.index)]
    
    p = top_actors.copy()
    p['title'] = p['tconst'].astype('category')
    p['name'] = p['nconst'].astype('category')
    
    row = p['title'].cat.codes.values
    col = p['name'].cat.codes.values
    data = pd.np.ones(len(p), dtype='int')
    
    matrix = csr_matrix((data, (row, col)))
    square = matrix.T * matrix
    square.setdiag(0)
    square = square.tocoo()
    
    pairs = pd.DataFrame({'row': square.row, 'col': square.col, 'n': square.data})
    pairs = pairs[pairs.n > min_pairs]
    
    cat = p['name'].cat.categories
    pairs = pd.concat([
        pairs,
        pairs.row.apply(lambda v: name.loc[cat[v]]),
        pairs.col.apply(lambda v: name.loc[cat[v]]),
    ], axis=1)
    pairs = pairs.drop(columns=['row', 'col'])
    pairs.columns = ['count', 'name1', 'year1', 'name2', 'year2']
    return pairs.sort_values('count', ascending=False)

In [13]:
# Fix renames in lang=US
name.loc['nm0408868'] = name.loc['nm0408867']  # Milton Ingley

In [27]:
# Fix renames in lang=IN
name.loc['nm9347849'] = name.loc['nm8055229']  # K.V. Shanthi
name.loc['nm1275349'] = name.loc['nm1025717']  # Rajlakshmi Devi
name.loc['nm7940084'] = name.loc['nm1679381']  # Suruli Rajan
name.loc['nm6093386'] = name.loc['nm1153351']  # Sumithra

In [28]:
# Optional: filter by region
pairs = get_pairs(lang='IN', min_acted=10, min_pairs=3)

In [29]:
pairs[(pairs.year1 > '1960') & (pairs.year1 < '2020')]

        count                 name1 year1                  name2 year2
172971     32   Siddhanta Mahapatra  1966          Bijoy Mohanty    \N
173124     32   Siddhanta Mahapatra  1966              Mihir Das    \N
31578      28  Prasenjit Chatterjee  1962    Subhendu Chatterjee  1936
43315      28            Jaya Prada  1962   Krishna Ghattamaneni  1944
27718      27        Ramya Krishnan  1970           Brahmanandam  1956
43325      26               Sridevi  1963   Krishna Ghattamaneni  1944
32380      25           Vijayshanti  1966            Chiranjeevi  1955
31453      25  Prasenjit Chatterjee  1962    Soumitra Chatterjee  1935
83199      24            Jaya Prada  1962             Mohan Babu  1950
27654      24             Soundarya  1972           Brahmanandam  1956
8083       24               Shobana  1966              Mammootty  1951
30194      24  Prasenjit Chatterjee  1962    Abhishek Chatterjee    \N
30450      23  Prasenjit Chatterjee  1962      Biplab Chatterjee    \N
47091      23               Sridevi  1963           Kamal Haasan  1954
27609      23              Srikanth  1979           Brahmanandam  1956
102933     23               Sridevi  1963            Rajinikanth  1950
182367     22              Srikanth  1979          Meka Srikanth    \N
7439       22               Govinda  1963          Shakti Kapoor  1952
46104      21               Sridevi  1963                Gummadi  1926
153806     21                Dileep  1968        Harisree Asokan    \N
56145      20            Jaya Prada  1962              Jeetendra  1942
51431      20                Dileep  1968      Jagathi Sreekumar  1951
27561      20           Venu Madhav  1968           Brahmanandam  1956
75255      20               Shobana  1966               Mohanlal  1960
173098     19         Minaketan Das  1961              Mihir Das    \N
51428      19       Kalabhavan Mani  1971      Jagathi Sreekumar  1951
3690       19            Jaya Prada  1962  Satyanarayana Kaikala  1935
46132      19            Jaya Prada  1962                Gummadi  1926
3682       19               Sridevi  1963  Satyanarayana Kaikala  1935
151413     18   Siddhanta Mahapatra  1966       Rachana Banerjee  1974
...       ...                   ...   ...                    ...   ...
86288       4         Nirmal Pandey  1962             Raza Murad  1950
86537       4               Shobana  1966                 Murali  1954
86555       4         Manju Warrier  1979                 Murali  1954
85377       4         Koyel Mallick  1982         Ranjit Mallick  1944
84618       4     Abhishek Bachchan  1976           Rani Mukerji  1978
83812       4  Prithviraj Sukumaran  1982                 Mukesh    \N
83903       4                Rohini  1969                 Mukesh    \N
84679       4      Rachana Banerjee  1974      Sumitra Mukherjee  1949
84701       4         Debashree Roy  1961      Sumitra Mukherjee  1949
89384       4           Venu Madhav  1968          M.S. Narayana  1951
89580       4            Riyaz Khan  1972                 Nassar  1958
89690       4                Vikram  1966                 Nassar  1958
88781       4          Seema Biswas  1965          Govind Namdeo  1954
88789       4         Milind Gunaji  1961          Govind Namdeo  1954
89775       4                Simran  1976                 Nassar  1958
89798       4             Prashanth  1973                 Nassar  1958
87841       4        Ramya Krishnan  1970                 Nagesh  1933
78294       4       Kalabhavan Mani  1971              Mammukoya    \N
78369       4                Dileep  1968              Mammukoya    \N
79799       4                 Nagma  1974                  Meena    \N
79818       4           Arjun Sarja  1962                  Meena    \N
78619       4         Manju Warrier  1979        Kalabhavan Mani  1971
76217       4        Poonam Dhillon  1962             Madan Puri  1919
76461       4       Jimmy Sheirgill  1970               Madhavan  1970
77135       4                Rohini  1969                  Madhu  1933
82628       4               Revathy  1966                  Mohan    \N
83271       4      Rachana Banerjee  1974          Uttam Mohanty    \N
83156       4               Shobana  1966             Mohan Babu  1950
83104       4         Vishnu Manchu  1981             Mohan Babu  1950
80723       4     Padmini Kolhapure  1965            Vinod Mehra  1945

[1142 rows x 5 columns]

In [30]:
pairs.to_excel('pairs.IN.xlsx', index=False)